

.dosis{
    font-family: 'dosis', sans-serif;
}

body > nav {
    .dosis;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    a {
        -webkit-transition: color 0.1s;
        transition: color 0.1s;
        -moz-transition: color 0.1s;
        -webkit-transition: color 0.1s ease-in-out;
        -o-transition: color 0.1s;
        .current {
            color: #00a2ff;
        }
    }

    .nav-centered {
        float: none;
        width: 720px;
        margin: 15px auto 15px auto;
    }
}



@media (max-width: 768px) {
    body > nav {
        .nav-centered {
            width: auto;
        }
    }
}