@{
    ViewBag.Title = "Home Page";
}

@section Hero {
    <div id="logo">
        <img src="~/Content/Images/logo.png" alt="Cadet" />
        <h1>CADET</h1>
    </div>
    <div id="carousel">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="item-inner">
                        <img src="~/Content/Images/carousel/1_2.gif">
                        <h2>What is Cadet?</h2>
                        <p>
                            Cadet is a free suite of tools and code libraries for Flash game publishers that enables you to easily create visual editors for every game you make.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <img src="~/Content/Images/carousel/2_2.gif">
                        <h2>What is Cadet?</h2>
                        <p>
                            Cadet is a free suite of tools and code libraries for Flash game publishers that enables you to easily create visual editors for every game you make.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <img src="~/Content/Images/carousel/3_2.gif">
                        <h2>What is Cadet?</h2>
                        <p>
                            Cadet is a free suite of tools and code libraries for Flash game publishers that enables you to easily create visual editors for every game you make.
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
    <div id="tweets">
        @@tweetPerson - “ This is a nice tweet I've written about #cadet editor/engine ”
    </div>
}

<div class="col-md-4 col-lg-4">
    <div id="newsBlock">

        <div class="newsItem">
            <div class="boldBlock">Recent News Here</div>
            <div class="dateBlock">Ed | January 22</div>
            Here is a sentence summary of this news item and a hyperlink Here is a sentence summary of this news item and a hyperlink... <a href="">Read More &gt;</a>
        </div>
        <div class="newsItem">
            <div class="boldBlock">Some More News Here</div>
            <div class="dateBlock">Rob | January 16</div>
            Here is a sentence summary of this news item and a hyperlink Here is a sentence summary of this news item and a hyperlink...
        </div>
        <div class="newsItem">
            <div class="boldBlock">Some News Here</div>
            <div class="dateBlock">Rob | January 10</div>
            Here is a sentence summary of this news item and a hyperlink Here is a sentence summary of this news item and a hyperlink...
        </div>

    </div>
</div>

<div class="col-md-4 col-lg-4">
    <div id="redBox">
        Learn more<br> &amp;<br> get Started<br>
        <img src="~/Content/Images/started.png">
    </div>
</div>

<div class="col-md-4 col-lg-4">
    <div id="blackBox"> On Github </div>
    <div class="greyLine"></div>
    Cadet Engine is currently in Beta, be a part of it's development <a href="">on GitHub</a>
</div>